@model Coupon
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-info">Delete Coupon</h2>
<br />

<form method="post" asp-action="Delete" enctype="multipart/form-data">
    <div class="border row" style="background-color: white; padding: 30px; border-radius: 10px; margin-bottom: 30px;">
        <br />
        <div class="col-12 border">
            @{
                var base64 = Convert.ToBase64String(Model.Picture);
                var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
            }
            <img src="@imgsrc" height="100%" width="100%" />
        </div>
        <div class="col-12 pt-4">
            <fieldset disabled>

                <div class="form-group row">
                    <div class="col-2">
                        <label asp-for="Name" class="col-form-label"></label>
                    </div>
                    <div class="col-9">
                        <input asp-for="Name" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-2">
                        <label asp-for="CouponType" class="col-form-label"></label>
                    </div>
                    <div class="col-9">
                        <select asp-for="CouponType" asp-items="Html.GetEnumSelectList<Coupon.ECouponType>()" class="form-control"></select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-2">
                        <label asp-for="Discount" class="col-form-label"></label>
                    </div>
                    <div class="col-9">
                        <input asp-for="Discount" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-2">
                        <label asp-for="MinimumAmount" class="col-form-label"></label>
                    </div>
                    <div class="col-9">
                        <input asp-for="MinimumAmount" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-2">
                        <label asp-for="IsActive" class="col-form-label"></label>
                    </div>
                    <div class="col-9">
                        <input type="checkbox" asp-for="IsActive" class="form-control" />
                    </div>
                </div>
            </fieldset>
            <div class="form-group row">
                <div class="col-9 offset-2">
                    <partial name="_DeleteAndBackToListButton" model="Model.Id" />
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}